section
    div(class="navbar fixed bottom")
      div(class="inline")
        div(class="group")
          a(class="btn small") Mini button
          a(class="btn small") Mini button
          a(class="btn small") Mini button
          
        div(class="combo")
          input(type="text",class="input small")
          ul( style="display: none;")
            li
              a(id="g",href="#",value="1") MAIN
            li
              a(href="#",value="2") Domnain 1
            li
              a(href="#",value="3") Domain 2
          a(class="btn small toggle")
            i(class="icon-arrow2")
          a(class="btn small") Select...
            
      div(class="inline right")
        div(class="group")
          a(class="btn small disabled")
            i(class="icon-user pulse")
          a(class="btn small") Constantin Bogza