div(class="container")
    div(class="menu")
      div(class="vmenu")
        a(onclick="sideNavigation(0)", class="active") 
            i(class="icon-monitoring") 
            | Dashboard
        a(onclick="sideNavigation(1)")    
            i(class="icon-realtime") 
            | Realtime
        a(onclick="sideNavigation(2)")
            i(class="icon-profile")
            | Analysis
        a(onclick="sideNavigation(3)")
            i(class="icon-chart") 
            | Statistics
        a(onclick="sideNavigation(4)")
            i(class="icon-document") 
            | Document
        a(onclick="sideNavigation(5)")
            i(class="icon-gear") 
            | Management
        a(onclick="sideNavigation(6)")
            i(class="icon-user")
            | User
        span(style="width: 100px;")
            div(id="progressbar")