// layout.pug
// Base layout for the site

html
  head
    block head
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans',type="text/css")
      link(rel='stylesheet', href='/css/index.css',type="text/css")
      link(rel='stylesheet', href='/css/index-jennifer.css', id="index_theme",type="text/css")
      
      link(rel='stylesheet', href='/jui/dist/ui.min.css',type="text/css")
      link(rel='stylesheet', href='/jui/dist/ui-jennifer.min.css',type="text/css")
      link(rel='stylesheet', href='/jquery-ui-dist/jquery-ui.min.css',type="text/css")
      
      link(rel='stylesheet', href='/jui-grid/dist/grid.min.css',type="text/css")
      link(rel='stylesheet', href='/jui-grid/dist/grid-jennifer.min.css',type="text/css")
    
    
      script(src='/jquery/dist/jquery.min.js')
      script(src='/jquery-ui-dist/jquery-ui.min.js')
      
      script(src='/jui-core/dist/core.min.js')
      script(src='/jui/dist/ui.min.js')
      script(src='/jui-grid/dist/grid.min.js')
      script(src='/jui-core/dist/core.min.js')
      script(src='/jui-chart/dist/chart.min.js')
      
      script(src='/js/sideBarLogic.js')
      
      script
        |$( function() {
        | $( "#progressbar" ).progressbar({
        |    value: 37
        | });
        |} );
  body(class="jui")
    div(class="container")
      include layoutNavBar.pug
      include layoutSideBar.pug
      block content
